version: "3.9"

services:

  sveltekit:
    build:
      context: ../
      dockerfile: dockerfiles/sveltekit/Dockerfile
    volumes:
      - ./:/var/www/
    environment:
      - environment=development
    ports:
      - 3000:3000
      - 3001:3001
      - 9222:9222
      - 9229:9229
      - 24678:24678
      - 6006:6006
    networks:
      - internal_network

  firebase:
    build:
      context: ../
      dockerfile: dockerfiles/firebase/Dockerfile
    volumes:
      - ./functions:/var/www/functions
      - firebase_functions_node_modules:/var/www/functions/node_modules/
      - ./firestore.rules:/var/www/firestore.rules
      - ./firebase.json:/var/www/firebase.json
      - ./firestore.indexes.json:/var/www/firestore.indexes.json
      - ./scripts/:/var/www/scripts/
      - ./config/:/var/www/config/
      - ./dockerfiles/firebase/core/package.json:/var/www/package.json
    environment:
      - environment=development
    ports:
      - 5001:5001
      - 5010:5010
      - 5012:5012
      - 5014:5014
      - 4500:4500
      - 4400:4400
      - 9005:9005
    networks:
      - internal_network
volumes:
  firebase_functions_node_modules:

networks:
  internal_network:
