rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false
    }
    match /users/{userId} {
      allow write: if (request.auth.uid == userId)
    }
     
    match /goals/{goalsId} {
      allow read: if true
      // allow write: if (request.auth.token.curriculumProfileId is string)
      allow delete: if true
      allow write: if get(/databases/$(database)/documents/players/$(request.auth.uid)).data.curriculumProfileId is string
      match /prerequisites/{prerequisiteId} {
        allow read, write, delete: if true

        match /updates/{updatesId} {
            allow read, write, delete: if true
        }
      }

      match /specializations/{specializationId} {
        allow read, write, delete: if true

        match /updates/{updatesId} {
            allow read, write, delete: if true
        }
      }

     match /bigideas/{bigideasId} {
        allow read, write, delete: if true

        match /updates/{updatesId} {
            allow read, write, delete: if true
        }
      }

     match /deeperunderstandings/{deeperunderstandingsId} {
        allow read, write, delete: if true

        match /updates/{updatesId} {
            allow read, write, delete: if true
        }
      }

      match /adventures/{adventureId} {
        allow read, write, delete: if true

        match /updates/{updatesId} {
          allow read, write, delete: if true
        }
      }
      match /battles/{battleId} {
        allow read, write, delete: if true
      }
    }
    
    match /curriculumProfile/{curriculumProfileId} {
      allow read: if true
      allow create: if request.resource.data.fullname.size() > 0;
      allow update, delete:  if debug(resource.data.uid) == debug(request.auth.uid)
    }

    match /talk/{talkId} {
      allow read: if true
      allow write: if get(/databases/$(database)/documents/players/$(request.auth.uid)).data.curriculumProfileId is string
      
      match /posts/{postId} {
        allow read: if true
        allow write: if get(/databases/$(database)/documents/players/$(request.auth.uid)).data.curriculumProfileId is string

        match /replies/{replyId} {
          allow read: if true
          allow write: if get(/databases/$(database)/documents/players/$(request.auth.uid)).data.curriculumProfileId is string
        }
      }
    }

    match /revisions/{revisionId} {
      allow read: if true
      // allow write: if (request.auth.token.curriculumProfileId is string)
      // Goals should have this check
      // Activities should not have this check. revisionType  "activity"
      allow create: if (request.resource.data.revisionType == "activity" || request.resource.data.revisionType == "goal")
  
      allow delete: if request.auth.uid == resource.data.authorId
      // allow update: if (resource.data.revisionType == "activity" || get(/databases/$(database)/documents/players/$(request.auth.uid)).data.curriculumProfileId is string)
      // allow write: if (resource.data.revisionType == "activity" || get(/databases/$(database)/documents/players/$(request.auth.uid)).data.curriculumProfileId is string)
      match /battles/{battleId} {
        allow read, create: if true
      }
    }

    match /maps/{mapId} {
      allow read, create: if true
       allow update, delete: if request.auth.uid == resource.data.authorId
      match /players/{playerId} {
         allow read, write, update: if true
      }
    }

    match /players/{playerId} {
      allow read, write, update: if true
    }

    match /activities/{acitivtyId} {
      allow read: if true
      allow write, update: if true
    }

    match /connections/{connectionId} {
      allow read: if true
      allow write: if true
    }

    match /updates/{updateId} {
      allow read: if true
      allow write: if true
    }

    match /modules/{moduleId} {
      allow read: if true
      allow create: if debug(debug(request.auth.uid) == debug(request.resource.data.authorId));
      allow update, delete: if request.auth.uid == resource.data.authorId
      match /players/{playerId} {
         allow read, write, update: if true
      }
    }

    match /path/{userId} {
      allow read: if (request.auth.uid == userId)
    }

    match /triggers/{triggerId} {
      allow read, write, update: if (request.auth.token.canDebugDevelopment)
    }

    match /feedback/{feedbackId} {
      allow create: if (!("canDebugDevelopment" in request.resource.data) || !("canModerate" in request.resource.data))
      allow read: if (request.auth.token.canModerate)
    }
    match /battleResult/{battleResultId} {
      allow create: if (!("canDebugDevelopment" in request.resource.data) || !("canModerate" in request.resource.data))
      allow read: if (request.auth.token.canModerate)
    }
  }
}
